*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  padding: 3rem;
  background-color: #00693E;
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked+.slide {
  height: 300px;
}